
vendors = official
@keyframes rotate {
  0% {
    transform: rotateZ(0deg) 
  }  
  100% {
    transform: rotateZ(360deg) 
  }
}
@keyframes Rerotate {
  0% {
    transform: rotateZ(0deg) 
  }  
  100% {
    transform: rotateZ(-360deg) 
  }
}
@keyframes flicker {
  0% {
    opacity 0
  }  
  100% {
    opacity 1
  }
}