
// 主题色
$primary = #838ca1

// 成功色
$success = #5bd2a4

// 警告色
$warning = #e77918

// 灰色背景
$bg = #f5f5f5

// 危险色
$danger = #fd9da6

// 灰色字体
$gray = #9c9c9c

// 标题颜色
$title = #383838

// 边框
$border = #f8f8f8

$disableColor = #c5c8ce

$disableBackgroundColor = #f7f7f7

$disableBorderColor = #dcdee2




