
vendors = official
@keyframes rotate
  0%
    transform: rotateZ(0deg) 
  100%
    transform: rotateZ(360deg) 
@keyframes Rerotate
  0%
    transform: rotateZ(0deg) 
  100%
    transform: rotateZ(-360deg) 
@keyframes flicker
  0%
    opacity 0
  100%
    opacity 1
@keyframes changeWidth
  0%
    width: 0
  100%
    width: 40px
@keyframes slideLeft
  0%
    transform: translateX(-100%) 
  100%
    transform: translateX(0)
@keyframes slideRight
  0%
    transform: translateX(100%) 
  100% 
    transform: translateX(0)
