// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
@import './font.styl'
@import './layout.styl'
@import './status.styl'
@import './btn.styl'
@import './input.styl'
@import './animation.styl'
@import './modal.styl'
@import './padding.styl'
@import './flex.styl'
@import './reset.styl'  
@import './quill.styl'
._c
  width 100%
  overflow-x: hidden
.container
  padding 0
#cnzz_stat_icon_1275752775
  z-index 9
  position fixed
  right 2px
  bottom: 2px
  display none
.show_ga
  #cnzz_stat_icon_1275752775
    display block
a
  text-decoration: none !important
.v-toolbar__content
  justify-content: space-between
.v-icon
  font-size: .6rem
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}