.flex
  display flex
  align-items: center
.flex-column-center
  display flex
  flex-direction: column
  justify-content: center
  align-items: center
.flex-column-between
  display flex
  flex-direction: column
  justify-content: space-between
  align-items: center
.flex-column-around
  display flex
  flex-direction: column
  justify-content: space-around
  align-items: center
.flex-center
  display flex
  justify-content: center
  align-items: center
.flex-between
  display flex
  justify-content: space-between
  align-items: center
.flex-around
  display flex
  justify-content: space-around
  align-items: center
.flex1
  flex 1
.flex2
  flex 2
.flex3
  flex 3