div
  font-size: 28px
.ftw
  color: #fff
for ft in 12 14 16 18 20 22 24 26 28 30 32 34 26 28 40
  .ft{ft}
    font-size: ft * 1px
.ta-lt
  text-align: left
.white-nowrap
  white-space nowrap
.bold
  font-weight: bold