.pr
  position relative
.pa
  position absolute
.pcy
  position absolute
  top:50%
  left 0
  transform: translate(-50%)
.pc
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
.ta
  text-align: center
.va
  vertical-align: middle
.vt
  vertical-align: top
.no_data
  text-align: center
  margin-top 40px
.eli
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;               