@import './color.styl'
.shak
    height 100%
    width 100%
    background rgba(0,0,0,0.35)
    position fixed
    top 0
    z-index 99
.modal
    width 540px
    background-color #fff
    border-radius 16px
    position fixed
    top 30%
    left 50%
    transform translate(-50%)
    text-align center
    font-size 28px
    .modal_header
        font-size 32px
        font-weight 900
    .modal_body
        border-bottom 1px solid #EBEEF5
    .modal_footer
        display flex
        justify-content space-around
        align-items center
    button
        margin 0
        flex 1
        box-sizing border-box
        font-size 28px
    .c
        border 0 !important
        border-right 1px solid #EBEEF5  !important
    .getUserBtn
      background #fff
      border 0 !important
    navigator
      width 270px
      border-right 1px solid #EBEEF5
      box-sizing border-box