// padding
for ft in 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40
  .pd{ft}-x
    padding-right 1px * ft
    padding-left 1px * ft
  .pd{ft}-y
    padding-top 1px * ft
    padding-bottom 1px * ft
  .pd{ft}
    padding: 1px * ft
  .pdt{ft}
    padding-top: 1px * ft
  .pdb{ft}
    padding-bottom: 1px * ft
  .pdr{ft}
    padding-right: 1px * ft
  .pdl{ft}
    padding-left: 1px * ft
  .mg{ft}-x
    margin-right 1px * ft
    margin-left 1px * ft
  .mg{ft}-y
    margin-top 1px * ft
    margin-bottom 1px * ft
  .mg{ft}
    margin: 1px * ft
  .mgt{ft}
    margin-top: 1px * ft
  .mgb{ft}
    margin-bottom: 1px * ft
  .mgr{ft}
    margin-right: 1px * ft
  .mgl{ft}
    margin-left: 1px * ft