@import './color.styl'
.active-text
  color $main !important
.active-bg
  background-color $main
  color #fff
.bgw
  background-color #fff
.bt
  border-bottom: 1px solid $border
.h1
  color $h1
.h6
  color $h6
.br8
  border-radius: 16px
.gray-bg
  background-color #f5f5f5