@import './variable.styl'
.dlc-btn-primary
  background-color $primary
  color #fff
  border-color: $primary
.dlc-btn-plain
  background-color#fff
  color $primary !important
  border-color: $primary
