
// 主题色
$primary = #65D1C8

// 成功色
$success = #65D1C8

// 警告色
$warning = #F2A848

// 灰色背景
$bg = #f5f5f5

// 危险色
$danger = #DB3737

// 灰色字体
$gray = #c5c8ce

// 标题颜色
$title = #383838


$disable = #c5c8ce
// 边框
$border = #f8f8f8

$disableBackgroundColor = #f7f7f7

$disableBorderColor = #dcdee2




