@import './variable.styl'
.dlc-primary
  color $primary
.dlc-bg-primary
  background-color $primary
.dlc-success
  color $success
.dlc-warning
  color $warning
.dlc-danger
  color $danger
.dlc-bg
  background-color $bg
.dlc-gray
  color $gray
.dlc-title
  color $title
.dlc-disabled.dlc-btn
  color $disableTextColor
  border-color $disableBorderColor
.bgw
  background-color #fff
.ftw
  color #fff
.box-shadow
  box-shadow: 0upx 7upx 8upx -4upx rgba(0,0,0,0.1), 0upx 12upx 17upx 2upx rgba(0,0,0,0.1), 0upx 5upx 22upx 4upx rgba(0,0,0,0.1) !important;
.border-bottom
  border-bottom 1PX solid $border
.border-top
  border-top 1PX solid $border

