.sticky
  top 0
  position sticky
.content
  height 100%
.w100
  width 100%
.pr
  position relative
.pa
  position absolute
.pcy
  position absolute
  top:50%
  transform: translateY(-50%)
.pcx
  position absolute
  left:50%
  transform: translateX(-50%)
.pc
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
.indent
  text-indent: 2em
.ta
  text-align: center
.va
  vertical-align: middle
.vt
  vertical-align: top
.no_data
  text-align: center
  margin-top 40px
.wrapper
  position relative
  min-width 100%
  min-height 100%
.eli
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
.nowrap
  white-space nowrap
.mg-auto
  margin: auto
.radius
  border-radius: 50%
.radius-16
  border-radius: 16upx
.radius-8
  border-radius: 8upx
.radius-4
  border-radius: 4upx
for ft in 2..50
  .pd{ft}-x
    padding-right 1upx * ft
    padding-left 1upx * ft
  .pd{ft}-y
    padding-top 1upx * ft
    padding-bottom 1upx * ft
  .pd{ft}
    padding: 1upx * ft
  .pdt{ft}
    padding-top: 1upx * ft
  .pdb{ft}
    padding-bottom: 1upx * ft
  .pdr{ft}
    padding-right: 1upx * ft
  .pdl{ft}
    padding-left: 1upx * ft
  .mg{ft}-x
    margin-right 1upx * ft
    margin-left 1upx * ft
  .mg{ft}-y
    margin-top 1upx * ft
    margin-bottom 1upx * ft
  .mg{ft}
    margin: 1upx * ft
  .mgt{ft}
    margin-top: 1upx * ft
  .mgb{ft}
    margin-bottom: 1upx * ft
  .mgr{ft}
    margin-right: 1upx * ft
  .mgl{ft}
    margin-left: 1upx * ft



