@import './color.styl'
.shak
    height 100%
    width 100%
    background rgba(0,0,0,0.35)
    position fixed
    top 0
    z-index 99
.modal
    width 540upx
    background-color #fff
    border-radius 16upx
    position fixed
    top 30%
    left 50%
    transform translate(-50%)
    text-align center
    font-size 28upx
    .modal_header
        font-size 32upx
        font-weight 900
    .modal_body
        border-bottom 1upx solid #EBEEF5
    .modal_footer
        display flex
        justify-content space-around
        align-items center
    button
        margin 0
        flex 1
        box-sizing border-box
        font-size 28upx
    .c
        border 0 !important
        border-right 1upx solid #EBEEF5  !important
    .getUserBtn
        background #fff
        border 0 !important
    navigator
        width 270upx
        border-right 1upx solid #EBEEF5
        box-sizing border-box